 <div class="row">
     <div class="col-sm-4">
       <img alt="" src="images/slokam_logo.jpg">
     </div>
     
     <div class="col-sm-8">
        <div class="row" style="text-align: right">Welcome <b>NARESH BANDARI</b> &nbsp;&nbsp;&nbsp;&nbsp;</div> 
        <div class="row"  style="text-align: right">CRN: ****8970 | Profile/Update Contact Details | Change Password | Logout &nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="row" style="text-align: right">Feedback |Switch View &nbsp;&nbsp;&nbsp;&nbsp;</div>
     </div>
   </div>